* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;

}

html {
  background: #f3f3f3 !important;
}

.container {
  width: 500px;
  margin: 10px auto;
  overflow: hidden;
}

.user {
  padding: 5px 15px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 4px 8px 0px rgba(0 , 0 , 0 , 0.2);
  background: #fff;
}

.user button {
  background: crimson;
  padding: 5px;
  color: #fff;
  border-radius: 7px;
  border: none;
  outline: none;
  cursor: pointer;
}

input[type="text"] {
  margin: 5px 0;
  padding: 8px;
  width: 100%;
  font-size: 1rem;

}

input[type="submit"] {
  width: 100px;
  background: rgb(0 , 102 , 204);
  color: #fff;
  padding: 12px;
  font-size: 1.1rem;
  cursor: pointer;
  border: none;
  border-radius: 8px;
}
